body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0a0d1b;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.781);
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav-link {
  white-space: nowrap;
}

.accordion-button:not(.collapsed) {
  background-color: #0e1220;
  color: red;
  box-shadow: inset 0 -1px 0 red;
}

.accordion-body,
.accordion-item,
.accordion-button.collapsed {
  background-color: #1b223c !important;
  color: red !important;
  border-color: black !important;
}

.blog-element {
}

.blog-element .card {
  padding: 60px 20px;
  background-color: black;
  color: white;
}

footer {
  padding-top: 45px;
  padding-bottom: 45px;
}
