body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0a0d1b;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.781);
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.nav-link {
  white-space: nowrap;
}
