.main {
}
.hero {
  height: 100vh;
  background: url("img/IMG_2409.JPEG") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #0a0d1b;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-left: 20px;
}
header {
  background-color: rgba(0, 0, 0, 0.308);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.308);
  margin-top: -80px;
  width: 100%;
}
.about-us {
  background-color: #0a0d1b;
  padding: 50px 0;
  text-align: center;
}

.about-us p {
  color: #3d403c;
  font-size: 18px;
}

.about-us h3 {
  color: #ff0000;
  margin-bottom: 30px;
  text-align: center;
}
footer h2 {
  background-color: rgb(255, 0, 0);
  text-align: center;
  padding: 20px 0;
  color: hsl(0, 100%, 50%);
  width: 100%;
}

.about-us {
  padding: 50px 0;
}

.about-us p {
  font-size: 18px;
}

.about-us h2 {
  margin-bottom: 30px;
}

.history {
  background-color: #0a0d1b;
  padding: 100px 16px;
  padding-top: 0;
}

.history h2 {
  color: #ff0000;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
.history .desc {
  background-color: #141826;
  color: red;
  font-size: 18px;
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
}

h2:not(.accordion-header) {
  color: #ff0000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.staff-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.staff-member {
  background-color: #141826;
  color: red;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
}
.staff-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}
.staff-member h3 {
  margin-bottom: 10px;
}

.gallery-images {
  display: flex;
  justify-content: center;
  gap: 16px;
  img {
    max-width: 30%;
  }
}

.contacts {
  text-align: center;
  padding: 30px 0;
  background-color: #3e3f3a;
  color: white;
}

nav a {
  color: red !important;
}

.about-block {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;

  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;

  color: #ffffff;
}
